* {
    margin: 0;
}

:root {
    --bezier: cubic-bezier(0.27, 0.04, 0.7, 1.27);
}

body {
    background-size: cover;
    min-height: 100vh;
    font-family: "Public Sans", sans-serif;
    display: grid;
    place-items: center;
    animation: background-fade 4000ms ease-in-out;
    animation-fill-mode: both;
    background-repeat: no-repeat;
}

.text {
    text-shadow: 2px 0px var(--shadow-color), 0px 2px var(--shadow-color),
        2px 2px var(--shadow-color), -2px 0px var(--shadow-color),
        0px -2px var(--shadow-color), -2px -2px var(--shadow-color),
        2px -2px var(--shadow-color), -2px 2px var(--shadow-color);
    text-align: center;
}

.yes {
    background-color: #141414;
    background-image: url("yes.webp");
    background-position: right;
    color: #fff;
    --shadow-color: #141414;
}

.no {
    background-color: #fff;
    background-image: url("no.webp");
    color: #141414;
    --shadow-color: #fff;
}

#question {
    font-size: 3rem;
    font-style: italic;
    font-weight: 300;
    animation: popup 1200ms var(--bezier);
}

#answer {
    margin-top: 1rem;
    font-size: 8rem;
    font-weight: 600;
    animation: popup-long 2000ms var(--bezier);
}

@keyframes popup {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes popup-long {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes background-fade {
    0% {
        background-position: center -100vmax;
    }
    50% {
        background-position: center -100vmax;
    }
    100% {
        background-position: center;
    }
}
